/* Floating Animation */

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-18px);
}

100%{
transform:translateY(0);
}

}

/* Fade Up Animation */

@keyframes fadeUp{

0%{
opacity:0;
transform:translateY(60px);
}

100%{
opacity:1;
transform:translateY(0);
}

}

@keyframes fadeUp{

0%{

opacity:0;

transform:translateY(60px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

.category-card{

animation:fadeUp .8s ease both;

}

.hero-content{

    animation:fadeUp 1.2s ease;

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(80px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
.hero-content h1{

    animation:titleAnimation 1.5s ease;

}

@keyframes titleAnimation{

    0%{

        opacity:0;

        transform:translateY(40px);

    }

    100%{

        opacity:1;

        transform:translateY(0);

    }

}

.hero-btns{

    animation:buttonAnimation 2s ease;

}

@keyframes buttonAnimation{

    from{

        opacity:0;

        transform:translateY(50px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
.hero-tag{

    animation:floating 4s ease-in-out infinite;

}

@keyframes floating{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}